<div class="featured-books-container">
  <h2 class="section__title">
    New Books
  </h2>
  <div class="books-container">
  <article class="featured__card swiper-slide" *ngFor="let book of newBooks"  (click)="navigateToNewBooks()">
      <img [src]="book.CoverFileName" alt="image" class="featured__img">

      <h2 class="featured__title">{{ book.Title }}</h2>
      <div class="featured__prices">
          <span class="featured__discount">$11.99</span>
          <span class="featured__price">{{ book.Price }}</span>
      </div>

      <button class="button">Add To Cart</button>

      <div class="featured__actions">
          <button><i class="ri-search-line"></i></button>
          <button><i class="ri-heart-3-line"></i></button>
          <button><i class="ri-eye-line"></i></button>
      </div>
  </article>
</div>

