/*=============== NEW ===============*/
.new__card{
  display: flex;
  align-items: center;
  column-gap: 2.5rem;
  background-color: var(--container-color);
  padding: 1.5rem 1rem;
  color: var(--text-color);
  border: 2px solid var(--border-color);
  transition: border .4s, background-color .4s;
}

.new__card:hover{
  border: 2px solid var(--text-color);
}

.new__img{
  width: 100px;
}

.new__title{
  font-size: var(--h2-font-size);
  margin-bottom: .5rem;
}

.new__prices{
  display: flex;
  align-items: center;
  column-gap: .75rem;
  margin-bottom: .75rem;
}

.new__discount{
  color: var(--title-color);
}

.new__price{
  font-size: var(--small-font-size);
  text-decoration: line-through;
}

.new__stars{
  color: var(--first-color);
}

.new__swiper:nth-child(1){
  margin-bottom: 2rem;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-family: 'PT Serif', serif;
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}
