.home__swiper{
  margin: initial;
}

.home__container{
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__data{
  text-align: center;
}

.home__title{
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description{
  margin-bottom: 2rem;
}

.home__images{
  display: grid;
}

.home__article,
.home__img{
  width: 220px;
  transition: scale .4s;
}

.home__article{
  scale: .8;
}

/* Swiper class */
.swiper-slide-active,
.swiper-slide-duplicate-active{
  scale: 1;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-family: 'PT Serif', serif;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}


/*Swiper class*/

.swiper-slide-active,
.swiper-slide-duplicate-active{
  scale: 1;
}
