<div class="register grid" id="register-content">
  <form action="" class="register__form grid">
     <h3 class="register__title">Sign up</h3>
     <!--username email pass first and last-->

     <div class="register__group grid">

          <div>
            <label for="register-first-name" class="register__label">First Name</label>
            <input type="text" placeholder="Enter your first name" id="register-first-name" class="register__input">
          </div>

          <div>
            <label for="register-last-name" class="register__label">Last Name</label>
            <input type="text" placeholder="Enter your last name" id="register-last-name" class="register__input">
          </div>

          <div>
            <label for="register-username" class="register__label">Password</label>
            <input type="text" placeholder="Enter your username" id="register-username" class="register__input">
         </div>

         <div>
            <label for="register-email" class="register__label">Email</label>
            <input type="email" placeholder="Enter your email" id="register-email" class="register__input">
         </div>

         <div>
             <label for="register-pass" class="register__label">Password</label>
             <input type="password" placeholder="Enter your password" id="register-pass" class="register__input">
          </div>

          <div>
            <label for="register-pass" class="register__label">Confirm Password</label>
            <input type="password" placeholder="Confirm your password" id="register-pass" class="register__input">
         </div>
     </div>

     <div>
         <span class="register__login">
             You have an account already? <a routerLink="/login_form">Login</a>
         </span>

         <button type="submit" class="register__button button">Sign up</button>
     </div>
  </form>

  <i class="ri-close-line register__close" id="register-close" (click)="closeRegisterForm()"></i>
</div>

