<section class="featured section" id="featured">
  <h2 class="section__title">
      Featured Books
  </h2>

  <div class="featured__container container">
      <div class="featured__swiper swiper">
          <div class="swiper-wrapper">
          <article *ngFor="let book of featuredBooks" class="featured__card swiper-slide">
              <img [src]="book.CoverFileName" alt="image" class="featured__img">

              <h2 class="featured__title">Featured Book</h2>
              <div class="featured__prices">
                  <span class="featured__discount">$11.99</span>
                  <span class="featured__price">{{ book.Price }}</span>
              </div>

              <button class="button">Add To Cart</button>

              <div class="featured__actions">
                  <button><i class="ri-search-line"></i></button>
                  <button><i class="ri-heart-3-line"></i></button>
                  <button><i class="ri-eye-line"></i></button>
              </div>
          </article>
      </div>

      <div class="swiper-button-prev">
          <i class="ri-arrow-left-s-line"></i>
      </div>

      <div class="swiper-button-next">
          <i class="ri-arrow-right-s-line"></i>
      </div>
  </div>
</div>
</section>
