<div class="admin-container">
  <h1> USER DETAILS PAGE IS ACCESSED!</h1>



  <table>
      <thead>
          <tr>
              <th>BookId</th>
              <th>Title</th>
              <th>Description</th>
              <th>Author</th>
              <th>Price $ </th>

          </tr>
      </thead>

      <tbody>
          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>
          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>
          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>

          <tr>
              <td>44</td>
              <td>The Murder in the Dark City</td>
              <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nam laboriosam vero sint rerum suscipit nemo repudiandae quidem error architecto ex similique aspernatur, iusto perferendis impedit. Tempore nemo consequatur voluptate!</td>
              <td>Gabriel</td>
              <td>13</td>

          </tr>


      </tbody>

  </table>

</div>


