<header>
   <img width="100px" src="assets\images\software-engineer (1).png" alt="">
  <h1>Admin Dashboard</h1>

</header>

<nav>
  <i class="fas fa-home"></i>
  <i class="fas fa-chart-bar"></i>
  <i class="fas fa-users"></i>
  <i class="fas fa-cogs"></i>
</nav>

<div class="cards">
  <a routerLink="/books_edit">
      <div class="dashboard-card">
          <i class="fa-solid fa-book"></i>
          <img class="card_img" src="assets\images\book-stack.png" alt="">
          <h2>Books</h2>
          <p>Organize and edit books details</p>
      </div>
  </a>
  <a routerLink="/website_users">
      <div class="dashboard-card">
          <i class="fas fa-users"></i>
          <img class="card_img" src="assets\images\team (1).png" alt="">
          <h2>Users</h2>
          <p>Manage user accounts and permissions</p>
      </div>
  </a>
  <div class="dashboard-card">
      <i class="fas fa-cogs"></i>
      <img src="assets\images\cogwheel.png" class="card_img" alt="">
      <h2>Settings</h2>
      <p>Configure system settings and preferences</p>
  </div>
</div>

<!-- <div class="footer">
  <p>&copy; 2024 Admin Dashboard</p>
</div> -->
