/*=============== SERVICES ===============*/
.services__container{
  row-gap: 3rem;
}

.services__card{
  text-align: center;
}

.services__card i{
  display: block;
  font-size: 3rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services__title{
  font-size: var(--h3-font-size);
  margin-bottom: .5rem;
}
