<!--==================== JOIN ====================-->
<section class="join section">
  <div class="join__container">
      <img src="assets/images/join-bg.jpg" alt="image" class="join__bg">

      <div class="join__data container grid">
          <h2 class="join__title section__title">
              Subscribe To Receive <br>
              The Latest Updates
          </h2>

          <form action="" class="join__form">
              <input type="email" placeholder="Enter Email" class="join__input">
              <button type="submit" class="join__button button">Subscribe</button>
          </form>
      </div>
  </div>
</section>

