/*=============== JOIN ===============*/
.join__container{
  position: relative;
  padding-block: 3rem;
}

.join__bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.join__data{
  position: relative;
}

.join__title{
  color: var(--white-color);
}

.join__form{
  display: grid;
  row-gap: 1rem;
}

.join__input{
  padding: 1.25rem 1rem;
  background-color: var(--body-color);
  color: var(--title-color);
  transition: background-color .4s;
}

.join__input::placeholder{
  color: var(--text-color);
}

.join__button{
  padding-block: 1.25rem;
  cursor: pointer;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  font-family: 'PT Serif', serif;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.button:hover{
  box-shadow: 0 4px 32px hsla(230, 72%, 32%, .4);
}

